/* universal css */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

}
main{
    width: 1000px;
    margin: 0 auto;
}

/* nav bar */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
}
.nav-bar h1{
    font-size: 45px;
    color: orangered;
}
.nav-bar ul{
    display: flex;
    justify-content: space-around;

}
.nav-bar ul li{
    padding: 0px 13px;
    border-left: 1px solid gray;
    list-style: none;
}

.nav-bar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: orangered;
    font-weight: 700;
}
.nav-bar ul li a:hover{
    color: black;
}

/* banner section */
header{
    background-image: url(./images/banner/banner1.png);
}
.banner{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1000px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding: 130px 0;
}
.banner h1{
    font-size: 65px;
    width: 500px;
    margin-left: 500px;
}
.banner p{
    font-size: 16px;
    width: 500px;
    margin-left: 500px;
    padding: 30px 0;
    line-height: 30px;
}
.btn{
    background-color: orangered;
    color: white;
    font-size: 20px;
    padding: 15px 20px;
    border: 0;
    border-radius: 5px;
}

/* my previous year */
.previous-year{
    display: flex;
    align-items: center;
    gap: 90px;
    padding: 70px 0;
}

.previous-year-text{}
.previous-year-text h1{
    font-size: 40px;
    font-weight: 700;
}
.description{
    padding: 19px 0;
}
.previous-year-text p{
    max-width: 13px 0;
    line-height: 27px;
}
.previous-year-text p i{
    margin-right: 6px;
    color: green;
}

/* My plan */
.my-plan{
    padding-bottom: 50px;
}
.plan-title{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding: 20px 0;
}
.plan-items{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
.item{
    text-align: center;
}
.item h4{
    font-size: 20px;
}
.item p{
    color: gray;
}

/* moto */
.my-moto{
    text-align: center;
    background-color: lightgray;
    border-left: 10px solid gray;
    
    padding: 20px 30px;
}
.my-moto img{
    width: 100px;
    border-radius: 50%;
    text-align: center;
}
.my-moto p span{
    font-size: 90px;
    color: rgb(184, 184, 184);
    align-items: center;
}
/* call to action */
.call-to-action{
    background: linear-gradient(to right, #f15b22 0%, rgba(241, 91, 34, 0) 100%),
    url("./images/watch.png"), url("./images/gradient1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px;
    border-radius: 8px;
    margin: 45px;
    
}
.call-to-action h1{
    color: white;
    font-size: 40px;
    width: 500px;
    margin-bottom: 10px;
}
.call-now-btn{
    background-color: white;
    color: orangered;
    padding: 14px;
    border: 0;
    border-radius: 5px;
}

/* Footer */
footer{
    background-color: black;
    padding: 100px 0;

}
.footer-container{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 200px;
}
.footer-left{
    color: white;
}
.footer-left h1{
    font-size: 30px;
    font-weight: 700;
}
.footer-left p{
    margin: 20px 0;
    width: 500px;
    font-size: 16px;
    line-height: 25px;
}
.footer-left img{
    width: 30px;
    margin-right: 10px;
}
.footer-right{
    color: white;
}
.footer-right input[type="email"]{
    background-color: black;
    padding: 20px;
    width: 80%;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin: 15px 0;
}
